@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply text-slate-400;
    @apply bg-zinc-800;
}

a {
    @apply text-orange-400;
}

a:hover {
    @apply text-orange-500;
}

p, h3, h2 {
    @apply my-2;
}

.container {
    @apply w-full;
}

.experience-block:hover,
.experience-block:hover .dot-timeline,
.experience-block:hover .connect-h-timeline {
    @apply bg-emerald-900 drop-shadow-xl;
}

.experience-block:hover .date,
.experience-block:hover .company {
    @apply text-slate-100;
}

.experience-block:hover .tech {
    @apply text-slate-500;
}

.section-title {
    @apply text-4xl mb-10 font-bold inline-block pb-4 border-b-4 border-b-zinc-700;
}

.cover-social #socialMedia {
    @apply justify-start;
}

.cover-social #socialMedia a {
    @apply text-slate-600 text-xl;
}

.cover-social #socialMedia a:hover {
    @apply text-orange-600;
}
